.availble {
    padding-top: 60px;
    padding-bottom: 60px;
    transition-duration: 0.5s;
}

.availble.dark {
    background-color: var(--dark-bg);
    color: var(--dark-main-color);
}

.availble-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .availble-wrapper {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .availble-wrapper {
        width: 750px;
    }
}


@media (min-width: 992px) {
    .availble-wrapper {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .availble-wrapper {
        width: 1170px;
    }
}

.availble-h3 {
    font-size: 24px;
    max-width: 400px;
    transition-duration: 0.5s;
}

.availble-p {
    color: var(--black-75);
    max-width: 400px;
    line-height: 1.2;
    transition-duration: 0.5s;
}

.availble.dark .availble-p {
    color: var(--dark-secondry-color);
}

@media (max-width: 768px) {
    .availble-h3 {
        margin: auto;
    }

    .availble-p {
        margin: auto;
    }
}

.availble-email {
    font-weight: bold;
    color: var(--accent);
    font-size: 12px;
}


.availble-btn {
    padding: 1.2rem 2rem;
    margin-top: 3rem;
    border: none;
    border-radius: 28px;
    color: white;
    background-image: var(--brand-gradient);
    cursor: pointer;
}