.my-work {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.my-work__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


@media (min-width: 768px) {
    .my-work__wrapper {
        width: 750px;
    }
}


@media (min-width: 992px) {
    .my-work__wrapper {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .my-work__wrapper {
        width: 1170px;
    }
}

.my-work__h1 {
    background: var(--brand-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.my-work__p {
    margin-top: -20px;
}

.my-work__box {
    margin: 2rem;
}

@media (max-width: 768px) {
    .my-work__box {
        padding: 20px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 12px;
    }
}

.my-work__description,
.my-work__p {
    color: var(--black-75);
}

.my-work__wrapper .my-work__image {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 12px;
}

.my-work__icon {
    color: var(--black-color);
    margin: 30px 15px;
}

@media (max-width: 768px) {
    .my-work__icon {
        margin: 20px 5px 10px;
    }
}

.my-work__icon:hover {
    color: var(--accent);
}