.contact-footer {
    border-top: 1px solid var(--black-25);
}

.contact-footer__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 768px) {
    .contact-footer__wrapper {
        width: 750px;
    }
}


@media (min-width: 992px) {
    .contact-footer__wrapper {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .contact-footer__wrapper {
        width: 1170px;
    }
}

.contact-footer__p {
    color: var(--black-75);
    text-align: center;
}

.contact-footer__icon {
    color: var(--secondry);
    margin: 1rem;
}