.form-wrapper label {
    font-weight: bold;
}

.form-wrapper input,
.form-wrapper textarea {
    width: 90%;
    display: block;
    max-width: 100%;
    padding: 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--light-bg);
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
    outline: none;
}

.form-wrapper button {
    padding: 1.2rem 4rem;
    border: none;
    border-radius: 28px;
    color: white;
    background-image: var(--brand-gradient);
    cursor: pointer;
    margin-top: 30px;
}