.info {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--light-bg);
}

.info-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



@media (min-width: 768px) {
    .info-wrapper {
        width: 750px;
    }
}



@media (min-width: 992px) {
    .info-wrapper {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .info-wrapper {
        width: 1170px;
    }
}

.before-msg {
    
    font-weight: 500;
    max-width: 300px;
}