.question-wrapper {
    cursor: pointer;
}

.info-question span,
.info-question__active span {
    color: var(--accent);
}

.info-question {
    color: var(--black-50);
    transition-duration: 0.5s;
}

.question-wrapper.dark .info-question {
    color: var(--dark-secondry-color);
}

.info-question__active {
    color: var(--black-color);
    font-weight: bold;
    transition-duration: 0.5s;
}

.question-wrapper.dark .info-question__active {
    color: var(--dark-main-color);
}

.info-question p,
.info-question__active p {
    margin: 0;
}

.info-answer {
    margin-top: -18px;
    margin-left: 9px;
    color: var(--black-color);
    font-weight: 400;
    transition-duration: 0.3s;
}

.question-wrapper.dark .info-answer {
    color: var(--dark-secondry-color);
}