.section-p {
    color: var(--black-75);
    line-height: 3;
    max-width: 650px;
    transition-duration: 0.5s;
}

.section.dark .section-p {
    color: #dfdfdf;
}

.section-email {
    color: var(--accent);
    font-weight: bold;
}