.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.email {
    text-decoration: none;
    color: var(--accent);
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .email {
        display: none;
    }

}

.email:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    width: 1px;
    height: 100%;
    background-color: rgba(38, 31, 34, 0.25);
}
