.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.email {
    text-decoration: none;
    color: var(--accent);
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .email {
        display: none;
    }

}

.email:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    width: 1px;
    height: 100%;
    background-color: rgba(38, 31, 34, 0.25);
}

.contact.contact.dark .email:after {
    background-color: var(--dark-main-color);
}

.icon {
    color: var(--black-color);
    margin: 4px;
    transition-duration: 0.3s;
}

.contact.dark .icon {
    color: white;
}

.icon:hover {
    transform: scale(1.2);
}


@media (max-width: 500px) {
    .icon {
        display: none;
    }

}

.linked:hover,
.contact.dark .linked:hover {
    color: #0077b5;
}

.twitter:hover,
.contact.dark .twitter:hover {
    color: #1da1f2;
}

.git:hover,
.contact.dark .git:hover {
    color: #6e5494;
}