header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 74px;
    align-items: center;
}
div img{
    width: 74px;
}
header button{
    background-color: white;
    color: rgb(130, 12, 12);
    border: 2px solid rgb(130, 12, 12);
    border-radius: 6px;
    font-weight: bold;
    padding: 10px 20px;
    height: 50px;
}
