.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.email {
    text-decoration: none;
    color: #FC3A79ed;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .email {
        display: none;
    }

}

.email:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    width: 1px;
    height: 100%;
    background-color: rgba(38, 31, 34, 0.25);
}

.icon {
    color:#261F22;
    margin: 4px;
}

@media (max-width: 500px) {
    .icon {
        display: none;
    }

}
.linked:hover{
    color: #0077b5;
}
.twitter:hover{
    color: #1da1f2;
}
.git:hover{
    color: #6e5494;
}



