.footer {
    border-top: 1px solid var(--black-25);
    transition-duration: 0.5s;
}

.footer.dark {
    background-color: #141414;
    border-top: 1px solid #f6f6f6;
}

.footer-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .footer-wrapper {
        width: 750px;
    }
}


@media (min-width: 992px) {
    .footer-wrapper {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .footer-wrapper {
        width: 1170px;
    }
}

.footer-p {
    color: var(--black-75);
    transition-duration: 0.5s;
}
.footer.dark .footer-p{
    color: #f6f6f6;
}
.footer-icon {
    color: var(--accent);
    margin: 1rem;
    transition-duration: 0.3s;
}

.footer-icon:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .footer-p {
        text-align: center;
        margin-top: -8px;
    }

    .footer-icon {
        margin: 0.9rem 0.5rem 0;
    }
}