@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shojumaru&family=Work+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  /* font-family: 'Roboto', sans-serif;
  font-family: 'poppins', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: var(--light-bg);
}

:root {
  --accent: #0779E4;
  --secondry: #4CBBB9;
  --light-bg: #F3F2F1;
  --dark-bg: #141414;
  --dark-secondry-bg: #2b2b2b;
  --dark-main-color: #f6f6f6;
  --dark-secondry-color: #dfdfdf;
  --brand-gradient: linear-gradient(to left, #4CBBB9, #0779E4);
  --black-color: #261F22;
  --black-75: rgba(38, 31, 34, 0.75);
  --black-50: rgba(38, 31, 34, 0.5);
  --black-25: rgba(38, 31, 34, 0.25);
  --black-10: rgba(38, 31, 34, 0.1);
  --black-05: rgba(38, 31, 34, 0.05);
}